# {{ ansible_managed }}
data_dir  = "/var/lib/nomad"

region     = "{{ nomad_nomad_region }}"
datacenter = "{{ nomad_nomad_datacenter }}"

disable_update_check = {{ nomad_disable_update_check | lower }}

{% if nomad_server_mode | lower == 'true' %}
server {
	enabled          = true
	{% if play_hosts | length > 0 and nomad_bootstrap_expect | length == 0 %}
	bootstrap_expect = {{ play_hosts | length }}
	{% else %}
	bootstrap_expect = {{ nomad_bootstrap_expect }}
	{% endif %}
}
{% else %}
server {
	enabled          = false
}

client {
	enabled          = true
	{% if nomad_nomad_cluster | length > 0 %}
	servers          = ["{{ nomad_nomad_cluster | join('"') }}"]
	{% endif %}
}
{% endif %}

addresses {
	http = "{{ nomad_address_http }}"
	rpc  = "{{ nomad_address_rpc }}"
	serf = "{{ nomad_address_serf }}"
}

advertise {
{% if nomad_advertise_http != None and nomad_advertise_http | length > 0 %}
	http = "{{ nomad_advertise_http }}"
{% endif %}
{% if nomad_advertise_rpc != None and nomad_advertise_rpc | length > 0 %}
	rpc  = "{{ nomad_advertise_rpc }}"
{% endif %}
{% if nomad_advertise_serf != None and nomad_advertise_serf | length > 0 %}
	serf = "{{ nomad_advertise_serf }}"
{% endif %}
}

{% if nomad_enable_acl | lower == 'true' %}
acl {
	enabled    = true
	token_ttl  = "30s"
	policy_ttl = "60s"
}
{% endif %}

{% if nomad_enable_vault | lower == 'true' %}
vault {
	enabled          = true
	address          = "{{ nomad_vault_url }}"
{% if nomad_server_mode | lower == 'true' %}
	token            = "{{ nomad_vault_token }}"
{% if nomad_vault_role | length > 0 and nomad_server_mode | lower == 'true' %}
	create_from_role = "{{ nomad_vault_role }}"
{% endif %}
{% endif %}
}
{% endif %}

{% if configure_telegraf == true %}
telemetry {
	publish_allocation_metrics = true
	publish_node_metrics       = true
	prometheus_metrics         = true
}
{% endif %}
