# {{ ansible_managed }}
data_dir  = "{{ nomad_data_dir }}"

bind_addr  = "{{ nomad_bind_address }}"
region     = "{{ nomad_nomad_region }}"
datacenter = "{{ nomad_nomad_datacenter }}"

disable_update_check = {{ nomad_disable_update_check | lower }}

enable_syslog = true

{% if nomad_server_mode | lower == 'true' %}
server {
  enabled          = true
{% if play_hosts | length > 0 %}
  bootstrap_expect = {{ play_hosts | length }}
{% else %}
  bootstrap_expect = {{ nomad_bootstrap_expect }}
{% endif %}
}
{% else %}
client {
  enabled          = true
{% if nomad_nomad_cluster | length > 0 %}
  servers          = ["{{ nomad_nomad_cluster | join('"') }}"]
{% endif %}
}
{% endif %}

{% if nomad_enable_acl | lower == 'true' %}
acl {
	enabled    = true
	token_ttl  = "30s"
	policy_ttl = "60s"
}
{% endif %}

{% if nomad_enable_vault | lower == 'true' %}
vault {
	enabled          = true
	address          = "{{ nomad_vault_url }}"
{% if nomad_server_mode | lower == 'true' %}
	token            = "{{ nomad_vault_token }}"
{% if nomad_vault_role | length > 0 and nomad_server_mode | lower == 'true' %}
	create_from_role = "{{ nomad_vault_role }}"
{% endif %}
{% endif %}
}
{% endif %}

{% if configure_telegraf == true %}
telemetry {
  publish_allocation_metrics = true
  publish_node_metrics       = true
  prometheus_metrics         = true
}
{% endif %}
